body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0rem;
    padding: 0rem;
}
.body2{
    margin: 0 9rem 0rem 9rem;
    align-items: center;
    color: black;
}

#nombres li{
    margin: 50px 50px 30px;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    font-size: 13px;
}

#nombres li:before{
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 7px;
    border-left-width: 7px;
    border-bottom: 14px solid black;
}

h1{ 
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    margin:3rem 4rem 1rem 4rem;
    /* color: #3d3b3b; */
    color:#4285F4;
}

header{
    padding-top: 0.3rem;
    padding-bottom: 0rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/header.png");
    width: 100%;
}
hr{
    margin-top: 0rem;
    color: #0000007f;
}
.bajada{
    margin: 0 4rem 0 4rem; 
    /* background-color: rgb(244, 244, 244);  */
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
}
.row{
    box-sizing: content-box !important;
}
.logo{
    width: 16rem;
    height: auto;
    margin: auto;
    display: block;
}
.subtitulo{
    margin: 1.6rem 0 2rem 0;
    /* margin-bottom: 2rem; */
}
.subtitulo h3{
    font-size: 2rem;
    text-align: left;
    /* color: #424242; */
    font-weight: 700;
}
.subtitulo hr{
    width: 40%;
    border: 1.2px solid;
}

.contenedor p {
    flex: 1;
    font-size: 1rem;
    /* color: #3d3b3b; */
    margin: auto;
}
.multi-column-paragraph {
    column-count: 2; /* Set the number of columns */
    column-gap: 2.5rem; /* Adjust the gap between columns */
}
.contenedor {
    position: relative;
}

.iframe-container {
    float: left;
}

.texto-derecha {
    float: right;
    width: calc(35% - 40px);
    margin-left: 35px; /* Ajusta el margen del texto según sea necesario */ 
}

iframe{
    width: 64%;
    border: 0;
    margin-bottom: 1.5rem;
}
footer{
    background-image: url("./img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding: 0 0 1rem 0;
    margin-top: 2rem;
}
footer a{
    color: rgb(60, 60, 153);
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
}

footer a:hover{
    color: #b5242b;
}

footer hr{
    color: rgba(128, 128, 128, 0.616);
}

footer p{
    font-size: 0.6rem;
    text-align: center;
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
    color: #3d3b3b;
}

.creditos{
    font-size: 0.8rem !important;
    font-weight: bold;
    color: #b5242b;
}